header, nav, article, aside, footer {
	border: 1px solid rgb(5, 73, 75);
}
body a {
	text-decoration: none;
	color: black;
}
main a:hover {
	font-weight: bolder;
}
article:nth-child(even) {
	background-color: $background-color-even;
}
article:nth-child(odd) {
	background-color: $background-color-odd;
}