.albums h2, .albums h3 {
	text-align: center;
}
.gallery {
    img {
        max-width: 100%;
        max-height: $max-height;
    }
    p {
        text-align: center;
        font-style: italic;
    }
}
.tracklist {
	font-size: 1.2em;
	margin-left: 5%;
}
.youtube {
	@include streaming(red);
}
.spotify {
    @include streaming(rgb(27, 179, 27));
}
.details {
	text-align: justify;
}