.artists {
    text-align: justify;
    h2 {
        font-weight: bolder;
    }
    img {
        max-width: 300px;
        max-height: $max-height;
    }
    a {
        text-align: center;
        &:hover {
            font-weight: bolder;
        }
    }
}
